body {
  background-color: #e9e9e9;
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 48px;
  width: 100%;
}
.content {
  display: flex;
  justify-content: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.product {
  height: 582px;
  width: 353px;
  background-color: #ffffff;
}
.text {
  font-size: 25px;
}
.button {
  background-color: #24db2b;
  border: none;
  width: 250px;
  height: 45px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.product {
  display: grid;
  grid: 50% 50% / 100%;
}
.product-info {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  font-size: 30px;
  font-weight: bolder;
}
.subtitle,
.text,
.button {
  margin-bottom: 20px;
}

.image-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .product {
    height: 282px;
    width: 253px;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  body {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .content {
    display: flex;
    display: grid;
    grid: auto/ 50% 50%;
    align-items: center;
    justify-content: center;
  }
  .product {
    height: 282px;
    width: 100%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 901px) and (max-width: 1400px) {
  .content {
    display: flex;
    display: grid;
    grid: auto/ 33.3% 33.3% 33.3%;
    align-items: center;
    justify-content: center;
  }
  .product {
    height: 282px;
    width: 100%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 901px) {
  .content {
    display: flex;
    display: grid;
    grid: auto/ 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
  }
  .product {
    height: 282px;
    width: 100%;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 100%;
    height: 100%;
  }
}
